.lum-lightbox {
  background-color: fade(black, 80%);
}

.lum-lightbox-inner {
  img {
    max-height: calc(~"100% - 2em");
    box-shadow: 0 0 5em fade(black, 40%);
  }
}

@keyframes lum-fade {
  0% { zoom: 1; opacity: 0; }
  100% { opacity: 1; }
}

.lum-lightbox.lum-open {
  display: block;
}

.lum-lightbox.lum-opening {
  animation: lum-fade 200ms;
}
.lum-lightbox.lum-closing {
  animation: lum-fade 200ms reverse;
}

.lum-lightbox-loader {
  display: block;
}

.lum-gallery-button {
  position: absolute;
  top: calc(50% - 3em);
  height: 6em;
  width: 6em;
  background: none;
  border-width: 2px 0 0 2px;
  border-color: white transparent transparent white;
  border-style: solid;
  text-indent: -9999px;
  padding: 0;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  transition: opacity .5s, transform 1s;
  &:hover,
  &:active {
    opacity: 1;
  }
}
.lum-previous-button {
  left: 3em;
  transform: scale(0.9) rotate(-45deg);
  &:hover,
  &:active {
    transform: scale(0.95) rotate(-45deg);
  }
}
.lum-next-button {
  right: 3em;
  transform: scale(0.9) rotate(135deg);
  &:hover,
  &:active {
    transform: scale(0.95) rotate(135deg);
  }
}

.lum-lightbox-caption {
  margin: 0;
}
