@import "vars";
@import "mixins";

@import "fonts";
@import "grid";
@import "base";
@import "colors";
@import "header";
@import "nav";
@import "footer";

@import "page-frontpage";
@import "page-collection";
@import "page-collections";
@import "page-design";
@import "page-vision";
@import "page-about";
@import "page-press";
@import "page-contact";

@import "luminous";

a {
  color: @primary;
}
.image-gallery {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.img-wrap {
  font-size: 0;
  > img {
    width: 100%;
    height: auto;
  }
}
.media-wrap {
  font-size: 0;
  position: relative;
  overflow: hidden;
  > video {
    width: 100%;
    height: auto;
    margin-top: -3rem;
    margin-bottom: -3rem;
  }
}
.inactive {
  color: fade(black, 30%);
}
.media-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}