.design {
  &__collection {
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: fade(black, 30%);
  }
  &__title {
    font-size: 28px;
    margin: 0;
  }
  &__price {
    margin-top: @gutter;
    margin-bottom: @gutter;
  }
  &__color-options {
    margin-top: @gutter;
    margin-bottom: @gutter;
  }
  &__color-option {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 1px solid black;
    background-position: center;
    background-size: 150%;
    a& {
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
    }
  }
}
.pagination {
  margin-top: 2em;
  .previous-link {
    text-align: right;
  }
}
