.collection-teaser {
  margin: 0 auto 2em;
  width: 500px;
  max-width: 100%;
  &__image {
    background-color: fade(black, 10%);
    min-height: 100px;
    box-shadow: 0 0 20px fade(black, 10%) inset;
  }
  &__title {
    background-color: white;
    padding: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
  }
}
